 @font-face {
    font-family: Roboto; /* Им;я шрифта */
    src: url(fonts/roboto.ttf); /* Путь к файлу со шрифтом */
   }

html {
font-family: roboto;
}


body {
	margin: 0px;
}

#header {
	display: inline-block;
	width: 100%;
	background: #5f646d;
	position: relative;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content {
	padding-top: 10px;
}

h1 {text-indent: 12px;
color: #fff;
text-transform: uppercase;
}

ul,a {
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;

}


#footer {
	  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #5f646d;
  color: #fff;
}
